 <div class='nested-fields'>
    <div id="delivery_addresses">
    <%= f.fields_for :delivery_addresses do |delivery_address| %>
      <%= render 'delivery_address_fields', :f => delivery_address %>
          <% end %>
    <div class='links'>
      <%= link_to_add_association '住所を追加', f, :delivery_addresses %>

    </div>
  </div>