<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div align="center">
        <h2 style="border: solid 1px; border-radius: 3px; padding: 10px; display:inline-block; margin: 20px auto;">退会に関して</h2>
      </div>
      <div class="form-box" style="border: solid 1px; padding: 30px; margin-bottom: 40px;">
      	<p style="color: red;"><strong>*ディスクターミナル会員退会前に、以下注意事項を必ずご確認ください。</strong></p>
      	<h3><strong>&nbsp;&nbsp;退会時の注意点</strong></h3>
      	<ul>
      		<li>退会処理を実行すると、今までに投稿した記事などがすべて削除されます。</li>
      		<li>ユーザーの方は、管理者にコンテンツが削除されて良いかをご確認ください。</li>
      		<li>退会後はマイページが閲覧できなくなり、過去の注文履歴などをご確認いただくことができなくなります。ご注意ください。</li>
      		<li>再度会員登録いただいても、前回入会時の注文履歴は参照いただけません。</li>
      		<li>ユーザーの方は、管理者にコンテンツが削除されて良いかをご確認ください。</li>
      	</ul><br>

      	<div class="button-row" style="margin: 50px auto; width: 50%;">


          <span class="label label-danger">
          <%= link_to "退会する", users_path(@user), method: :patch, data: {confirm: "本当に退会しますか？"} %>
      	  </span>


      	  <span class="label label-info">
            <%= link_to "戻る", users_user_path(@user)%>
          </span>

        </div>



      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>