// Place all the styles related to the admins::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.new-item h1{
	margin-bottom: 30px;
	margin-top: 40px;
}

.edit-item h1{
	margin-bottom: 30px;
	margin-top: 40px;
}

.new-item p{
	margin-bottom: 20px;
}

.edit-item p{
	margin-bottom: 20px;
}

.new-item .field{
	margin-bottom: 30px;
}

.edit-item .field{
	margin-bottom: 30px;
	position: relative;
}

.new-item input[type="checkbox"]{
	margin-left: 9%;
}
.edit-item input[type="checkbox"]{
	margin-left: 9%;
}

#item_name{
	width: 100%;
}

#item_artist_id{
	width: 30%;
}

#artist_name{
	width: 50%;
	position: absolute;
	right: 0;
}

#item_genre_id{
	width: 30%;
}

#genre_name{
	width: 50%;
	position: absolute;
	right: 0;
}

#item_label_id{
	width: 30%;
}

#label_name{
	width: 50%;
	position: absolute;
	right: 0;
}

li input[type=text]{
	width: 90%;
}

.under-nested-form{
	margin-top: 30px;
	text-align: right;
	position: relative;
}

.img{
	position: absolute;
	text-align: left;
	left: 0;
	top: 0;
}

#item_price{
	width: 20%;
}

#item_stock{
	width: 20%;
}

#item_sales_status{
	width: 20%;
}

.actions {
	margin: 100px auto;
	position: relative;
	height: fit-content;
}

.actions .btn{
	width: 40%;
}

.actions .btn-info{
	position: absolute;
	left: 5%;
}

.actions .btn-danger{
	position: absolute;
	right: 5%;
}
