// Place all the styles related to the admins::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-content{
  position: relative;
}
.full-content{
  display: none;
  background-color: #fff;
  width: 300px;
  padding: 0.5%;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  Z-index: 100;
}

