.admin-session{
	margin: 40px auto 100px 0;
}

.admin-session h1{
	margin-bottom: 30px;
	margin-top: 40px;
}

.admin-session .field{
	margin-bottom: 30px;
}

.admin-session input{
	width: 100%;
}

.admin-session input[type="checkbox"]{
	width: auto;
}

.admin-session .form_body{
	width: 90%;
	margin:0 auto;
	position: relative;
}

.admin-session .form_body .btn{
	position: absolute;
	right: 0;
	bottom: 0;
	width:100px
}
