


































































































<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->


<% @items.each do |item| %>
<p><%= link_to item.name, users_item_path(item) %></p>
<% end %>

<%
=begin
%>
<%
=end
%>

