


































































































<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->
<p><%= button_to "#{@item.name}をカートに入れる", users_user_carts_path(current_user.id), method: :post, params: {user_id: current_user.id, item_id: @item.id} %></p>
<%
=begin
%>
<%
=end
%>