<div class="col-md-8">
	<table class="table">
		<thead>
			<tr>
				<th>商品</th>
				<th></th>
				<th>価格</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>data</td>
				<td>data</td>
				<td>data</td>
				<td>data</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-4">
	<p class="btn">購入へ進む</p>
</div>