<h2><%曲名%>へのレビュー</h2>
<p>新規投稿する（リンク付き）</p>

<div class="reviews" style="border: solid 1px;">
	<div class="review" style="border-bottom: solid 1px;">
		<div class="review-top">
			<h3><%%>text.title</h3>
			<p><%%>day</p>
		</div>
		<p><%%>text.body</p>
	</div>
	<div class="review" style="border-bottom: solid 1px;">
		<div class="review-top">
			<h3><%%>text.title</h3>
			<p><%%>day</p>
		</div>
		<p><%%>text.body</p>
	</div>
</div>