<h2 style="display: inline-block;">
	"曲名"へのレビュー
</h2>

<div class="review-post" style="border: solid 1px;">
	<p>2019 8/18</p>
	<div class="review-title">
		<p>題名</p>
		<p style="border: solid 1px;">
			最高の睡眠
		</p>
	</div>
	<div class="review-body">
		<p>本文</p>
		<p style="border: solid 1px;">
			読むと寝る時間が無くなって質の良い睡眠がとれない。
		</p>
	</div>
	<div class="button">
		<p style="display: inline-block; border: solid 1px;">確定</p>
		<p style="display: inline-block; border: solid 1px;">削除</p>
	</div>
</div>