<div class='nested-fields'>
  <div class="fields">
    <%= f.fields_for :discs do |disc| %>
      <%= render 'disc_fields', :f => disc %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'ディスクを追加', f, :discs %>
    </div>
  </div>
</div>
