
<div class='nested-fields'>
  <div class="fields">
      <li>
        <%= f.hidden_field :number, value: '1' %>
        <%= f.text_field :name %>
        <%= link_to_remove_association "x", f %>
      </li>
  </div>
</div>
