// Place all the styles related to the users::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h2{
	text-align: center;
	margin-left: 20px;
}

.table{
	border: solid 1px;
}

#中心に置きたい
.th{
	text-align: center;
}

#選択したジャンル、全ジャンルを表示
.h3{
	
}

.album-box{
	float: left;
	border: solid 1px;
	margin: 10px;
	width: 40%;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

#ジャンルと画像
.album-left{
	float: left;
}

.item-genre{
	border: solid 1px;
	text-align: center;
}

.album-image{
	
}

.album-right{
	float: left;
}

#item.name
.h4{
	
}

.album-artist{
	text-align: center;
}

.sales_status{
	border:solid 1px;
	display: inline-block;
}

.price{
	display: inline-block;
}

.album-opinion{
	
}

.favorites{
	display: inline-block;
}

.glyphicon{
	display: inline-block;
	font-size: 20px;
}

.glyphicon-heart{
	
}

.glyphicon-comment{
	
}

.reviews{
	display: inline-block;
}

#only show
.album-show{
	width: 90%;
	border: solid 1px;
}