// Place all the styles related to the users::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.table-stop {
  position: absolute;
  width: 180px;
}

.table-stop.fixed {
  margin-top: 0;
  width: 180px;
  position: fixed;
  top: 0;
}

.item-right td {
  margin: 5px;
  text-align: center;
}

.box-border {
  border: solid 1px;
  border-radius: 5px;
  text-align: center;
  border-color: #ddd;
}

.opinion p {
  float: left;
  margin-right: 20px;
}

.glyphicon {
  float: left;
  font-size: 20px;
  margin-right: 10px;
}

//only show

.item-detail .disc {
  width: 25%;
  float: left;
  border-right: dotted 1px;
  padding: 10px 20px;
}
