// Place all the styles related to the users::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.review-create{
	float: right;
	margin: 15px 0;
}

.review-border:not(:last-child) {
	border-bottom: solid 1px;
}

.review-show{
	padding: 15px 20px;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  border-radius: 15px;
  box-sizing: border-box;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 85%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 85%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}