// Place all the styles related to the users::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:visited { color: #0066cb; text-decoration:none }

.clearfix::after{
    content: "";
    display: block;
	clear: both;
}

.form-box{
	width: 90%;
	margin: 0 auto;
}
.each-info{
	border-top: 1px solid #ddd;
	margin: 12px;
	padding-top: 12px;
}

.btn-box{
	margin: 30px;
}


.form-box-user-edit{
	position: relative;
}


.item-page h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.half-content .field,
.set-content .field,
.dup-content .field {
  height: 40px;
}
.half-content .half1 {
  width: 45%;
  position: absolute;
  left: 3%;
}
.half-content .half2 {
  width: 45%;
  position: absolute;
  right: 3%;
}

.set-content .subject {
  width: 25%;
  position: absolute;
  left: 3%;
}

.set-content .content {
  width: 65%;
  position: absolute;
  right: 3%;
}

.dup-content .dup-top {
  position: absolute;
  right: 3%;
  left: 3%;
}
.dup-content .dup-bottom {
  position: absolute;
  right: 3%;
  left: 3%;
}

//

.alert-form {
  text-align: center;
}

.alert-form ul {
  margin-top: 40px;
  margin-left: 40px;
}
.alert-form ul li {
  text-align: left;
  margin-bottom: 10px;
}

.alert-form span {
  color: red;
}